@model CourbesCharge.Models.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<h2>Détails du client</h2>
<br />

<div>
    <h4>@Html.DisplayFor(model => model.Nom)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Representant)*@
            Représentant
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Telephone)*@
            Téléphone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Siteweb)*@
            Site web
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Siteweb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ClientDepuis)*@
            Client depuis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientDepuis)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CategorieClient.NomCategorie)*@
            Catégorie du client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategorieClient.NomCategorie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.IdClient }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Supprimer", "Delete", new { id = Model.IdClient }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Retour à la liste des clients", "Index", "", new { @class = "btn btn-default" })
</p>
