@model IEnumerable<CourbesCharge.Models.Consommation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateConsommation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntervalleCalcul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuissanceActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuissanceReactive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compteur.Marque)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateConsommation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntervalleCalcul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuissanceActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuissanceReactive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compteur.Marque)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdConsommation }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdConsommation }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdConsommation })
        </td>
    </tr>
}

</table>
