@model CourbesCharge.Models.Consommation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consommation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateConsommation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateConsommation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntervalleCalcul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntervalleCalcul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PuissanceActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PuissanceActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PuissanceReactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PuissanceReactive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compteur.Marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compteur.Marque)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdConsommation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
